body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    position: fixed;
    left: 0; right: 0; top: 0;
}

header div{
    display: flex;
    flex-direction: row;
}

header .logo img{
    width: 300px;
    height: 50px;
    cursor: pointer;
}

header div.container nav ul{
    display: flex;
    flex-direction: row;
}

header div.container nav ul li{
    display: flex;
    flex-direction: row;
    list-style: none;
    height: auto;
    margin-right: 15px;
}

header div.container nav ul li a{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: black;
    /* transition: ease-in-out 0.2s; */
}

header div.container nav ul li a:hover{
    border-bottom: 2px solid black;
    border-color: black;
    /* transition: ease-in-out 0.2s; */
}

header div.mainContainer div.login{
    display: flex;
    align-items: center;
}

header div.mainContainer div.login a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

header div.mainContainer div.login a:hover{
    border-bottom: 2px solid black;
}

header div.mainContainer div.login div.loginImages img{
    cursor: pointer;
}

header div img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

main{
    display: flex;
    background-color: black;
}

main div.konten1 {
    margin-top: 150px;
    margin-left: 100px;
    flex-direction: column;
    width: 500px;
}

main div.konten1 h1 {
    color: white;
}

main div.konten1 p{
    color: white;
}

main div.konten1 div.mainButton{
    flex-direction: column;
}

main div.konten1 div.mainButton button.a{
    background-color: greenyellow;
    font-weight: 800;
    border: none;
    padding: 12px;
    cursor: pointer;
    color: rgb(8, 65, 8);
}

main div.konten1 div.mainButton button.b{
    background-color: transparent;
    font-weight: 800;
    border: none;
    cursor: pointer;
    color: greenyellow;
    margin-top: 20px;
}

main div.konten1 div.mainButton button.a a:hover{
    border-bottom: 2px solid rgb(8, 66, 8);
}

main div.konten1 div.mainButton button.b:hover{
    border-bottom: 2px solid greenyellow;
}

main div.konten2 img {
    width: 850px;
}

div.pesbuk{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
div.pesbuk img{
    width: 30px;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
}

footer{
    background-color: whitesmoke;
}
footer div.footer1{
    margin-left: 100px;
    color: rgb(77, 77, 77);
    font-size: 10px;
    display: flex;
    flex-direction: row;
}

footer div.footer1 h1{
    color: rgb(56, 56, 56);
    font-size: 15px;
    margin-right: 125px;
    margin-bottom: 15px;
}

footer div.footer1 p{
    cursor: pointer;
    margin-bottom: 15px;
}

footer div.footer1 p a:hover{
    border-bottom: 0.3px solid;
    color: rgb(41, 41, 41);
}
